.smvc-table-mast {

  outline: 1px solid red;

  * {
    outline: 1px solid red;
  }

  & {
    position: relative;
    margin-top: $size-medium;
  }

  &__title {

    margin-top: 0;

    @include breakpoint(M) {
      display: inline-block;
    }

  }

  &__amt {

    display: inline-block;
    margin: 0 0 1em 0;

    @include breakpoint(M) {
      .smvc-table-mast__title + & {
        margin-left: $size-default;
      }
    }

  }

  &__all {
    margin-left: $size-small;
  }

  &__action {

    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint(M) {
      top: auto;
      bottom: $size-default;
    }

  }

}
