.smvc-footer {}

.usa-footer-logo-img {
  width: 140px;
}

.usa-footer-logo-heading {
  color: inherit;
}

.usa-footer-logo-heading_sub {
  display: block;
  font-family: $font-sans;
  /*font-size: 2rem;*/
  font-weight: normal;
}

.usa-footer-contact-heading {}

.smvc-footer_primary {
  background-color: $color-fsa-tertiary-200;
  margin-left: -$size-default;
  margin-right: -$size-default;
  @include breakpoint(M) {
    margin-left: 0;
    margin-right: 0;

  }

}

.smvc-footer_links {
  li {
    @include breakpoint(M) {
      display: inline-block;
    }
  }
}

.smvc-footer_secondary {

  background-color: transparent;

  @include breakpoint(M) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

}

@media screen and (min-width: 600px) {
  .smvc-footer_link {
    font-size: 1.4rem;
    margin-right: 12px;
  }
  .usa-footer .smvc-footer_link {
    font-weight: normal;
  }

  li:last-child .smvc-footer_link {
    margin-right: 0;
  }
}

@media screen and (min-width: 1000px) {
  .smvc-footer_link {
    font-size: 1.6rem;
    margin-right: 13px;
  }
}
