.smvc-brand {

  @include clearfix;

  &__logo {

    height: ($size-base * 9);
    float: left;
    margin-right: $size-small;

    @include breakpoint(M) {
      height: ($size-base * 11);
      margin-right: $size-default;
    }

  }

  &__label {

    display: none;

    @include breakpoint(MML) {
      white-space: nowrap;
      display: block;
      color: $color-fsa-white;
    }


  }

  &__usda {

    @include font-size(1);
    display: block;
    font-weight: $font-bold;

    @include breakpoint(M) {
      @include font-size(3);
    }

  }

  &__agency {

    @include font-size(1);
    display: block;
    line-height: 1;

    @include breakpoint(M) {
      @include font-size(3);
    }

  }

}
