.smvc-form-field {

  * {
    outline: 1px solid red;
  }

  & {
    max-width: 53rem;
    outline: 1px solid red;
  }

  &__label {

    display: block;

    .smvc-form-field--error & {
      font-weight: $font-bold;
    }

  }

  &__input {
    display: block;
  }

  &__msg {
    display: block;
    margin-bottom: $size-base;
    color: $color-fsa-red;
    font-weight: $font-normal;
  }

}
