
[list] {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &::-moz-calendar-picker-indicator {
    display: none;
  }
}

// scss-lint:disable SelectorFormat
.TBD {
  background-color: white;
  border: 1px solid $color-fsa-tertiary-200;
  padding: $size-default;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: $color-fsa-tertiary-100;
  text-shadow: -1px -1px 0 $color-fsa-tertiary-200;
}
