// Move to fsa-style ///////////////////////////////////////////////////////////
abbr[title],
acronym[title],
dfn[title] {
  border: none;
  text-decoration: none;
}

// Move to fsa-style ///////////////////////////////////////////////////////////
.fsa-table {

   &__th--sticky {
     position: sticky;
     top: -1px;
     background-color: $color-fsa-site-bg;
     z-index: 2;
     box-shadow: 0 1px 0 0 $table-border-color;
   }

}
