{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Templates' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Templates</h1>

        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="territories.html">Territories</a></li>
          <li><a href="territories-delete.html">Territories, Delete</a></li>
          <li><a href="employees.html">Employees</a></li>
          <li><a href="employees-add.html">Employees, Add</a></li>
          <li><a href="employees-add--error.html">Employees, Add - Error</a></li>
          <li><a href="employees-detail.html">Employees, Detail</a></li>
          <li><a href="employees-edit.html">Employees, Edit</a></li>
        </ul>

      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
