{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Templates' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content" tabindex="-1">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Employee</h1>
        <div class="smvc-table-mast">
          <h2 class="smvc-table-mast__title">Stringer Bell</h2>
          <p class="smvc-table-mast__action">
            <a class="fsa-btn fsa-btn--primary" href="employees-edit.html" title="Add a Territory">Edit</a>
            <a class="fsa-btn fsa-btn--secondary" href="employees-delete.html" title="Add a Territory">Delete</a>
          </p>
        </div>
        <dl>

          <dt>ID</dt>
          <dd>56190</dd>

          <dt>Job Title</dt>
          <dd>Lieutenant</dd>

          <dt>Hire Date</dt>
          <dd>01-06-1998</dd>

        </dl>
      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
