{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Templates' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content" tabindex="-1">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Employees</h1>
        <div class="smvc-table-mast">
          <span class="smvc-table-mast__amt">60 - 80 of 120</span>
          <a class="smvc-table-mast__action fsa-btn fsa-btn--primary" href="employees-add.html" title="Add a Territory">Add</a>
        </div>
        <table class="fsa-table fsa-table--borderless fsa-table--responsive smvc-table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Job Title</th>
              <th scope="col">Hire Date</th>
              <th scope="col" colspan="2">ID</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Bell, Stringer</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Lieutenant</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1998-06-01">1998-06-01</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">56190</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Daniels, Cedris</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Deputy Commissioner</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1985-11-29">1985-11-29</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">84200</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Freamon, Lestor</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Major Case Unit Detective</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1975-12-05">1975-12-05</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">78451</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">McNulty, Jimmy</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Patrol Officer</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1991-09-01">1991-09-01</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">11211</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Sobotka, Francis</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Union Secretary</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="2015-01-20">2015-01-20</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">88892</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">[last_name], {first_name}</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">[position]</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="yyyy-mm-dd">[yyyy-mm-dd]</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">[#####]</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="smvc-pagination">
          <ul class="smvc-pagination__list">
            <li class="smvc-pagination__item"><a class="smvc-pagination__link smvc-pagination__link--previous"><span class="smvc-pagination__label">Previous</span></a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">1</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">2</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link smvc-pagination__link--active" href="#!">3</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">4</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">5</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link smvc-pagination__link--next" href="previous.html"><span class="smvc-pagination__label">Next</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
