{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Employees' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content" tabindex="-1">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>ABC Settings</h1>
        {% include: 'includes/content-tabs_employees.html' %}
        <p><a class="fsa-btn fsa-btn--primary" href="employees-add.html" title="Add an Employee">Add</a></p>
        {% include: 'includes/table_employees.html' %}
        {% include: 'includes/pagination_5-pages.html' %}
      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
