{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Templates' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content" tabindex="-1">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Employees</h1>
        <div class="smvc-table-mast">
          <span class="smvc-table-mast__amt">60 - 80 of 120</span>
          <a class="smvc-table-mast__action fsa-btn fsa-btn--primary" href="employees-add.html" title="Add a Territory">Add</a>
        </div>
        {% include: 'includes/table_employees.html' %}
        <div class="smvc-pagination">
          <ul class="smvc-pagination__list">
            <li class="smvc-pagination__item"><a class="smvc-pagination__link smvc-pagination__link--previous"><span class="smvc-pagination__label">Previous</span></a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">1</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">2</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link smvc-pagination__link--active" href="#!">3</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">4</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link" href="#!">5</a></li>
            <li class="smvc-pagination__item"><a class="smvc-pagination__link smvc-pagination__link--next" href="previous.html"><span class="smvc-pagination__label">Next</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
