{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Settings: Employees' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content" tabindex="-1">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>ABC Settings</h1>
        {% include: 'includes/content-tabs_employees.html' %}
        {% include: 'includes/adder.html' @TEXT:'Add' @TITLE:'Add an Employee' @BEHAVIOR:'open-modal' @TARGET:'UNIQUE-ID-emp-new' @CLASS:'HINT' %}
        {% include: 'includes/table_employees.html' %}
        {% include: 'includes/pagination_120-pages.html' %}
      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  <div>
    {% include: 'includes/modal_employee-detail.html' %}
    {% include: 'includes/modal_employee-new.html' %}
  </div>

  <div class="fsa-growl-container">
    <!-- Growl Notifications go in here -->
    {% include: 'includes/growl_employee-edit-success.html' %}
  </div>

  <div class="fsa-whiteout" id="fsa-whiteout" aria-hidden="true"></div>
  <div class="fsa-growl-container fsa-growl-container--centered">
    <!-- Modal-based, centered Growl Notifications go in here -->
    {% include: 'includes/growl_employee-unsaved.html' %}
  </div>

  {% include: 'includes/scripts.html' %}

</body>

</html>
