{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Templates' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content" tabindex="-1">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>Page Title lorem</h1>
        <p class="fsa-text--lead">Intro paragraph ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <div class="smvc-table-mast">
          <h2 class="smvc-table-mast__title">Territories</h2>
          <span class="smvc-table-mast__amt">5 of 52</span>
          <a class="smvc-table-mast__all" href="territories.html">View all</a>
          <a class="smvc-table-mast__action fsa-btn fsa-btn--primary" href="territories-add.html" title="Add a Territory">Add</a>
        </div>
        <table class="fsa-table fsa-table--borderless fsa-table--responsive smvc-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col">Region</th>
              <th scope="col">State</th>
              <th scope="col" colspan="2">County</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="smvc-table__cell" data-label="ID" scope="row"><a href="territories-detail.html">01730</a></th>
              <td class="smvc-table__cell" data-label="Description">Georgetow</td>
              <td class="smvc-table__cell" data-label="Region">7843</td>
              <td class="smvc-table__cell" data-label="State">California</td>
              <td class="smvc-table__cell" data-label="County">Santa Barbara</td>
              <td class="smvc-table__cell smvc-table__options">
                <a href="territories-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="territories-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="ID" scope="row"><a href="territories-detail.html">01833</a></th>
              <td class="smvc-table__cell" data-label="Description">Boston</td>
              <td class="smvc-table__cell" data-label="Region">9542</td>
              <td class="smvc-table__cell" data-label="State">Massachusetts</td>
              <td class="smvc-table__cell" data-label="County">Suffolk</td>
              <td class="smvc-table__cell smvc-table__options">
                <a href="territories-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="territories-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="ID" scope="row"><a href="territories-detail.html">02116</a></th>
              <td class="smvc-table__cell" data-label="Description">Paola</td>
              <td class="smvc-table__cell" data-label="Region">5908</td>
              <td class="smvc-table__cell" data-label="State">Kansas</td>
              <td class="smvc-table__cell" data-label="County">Miami</td>
              <td class="smvc-table__cell smvc-table__options">
                <a href="territories-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="territories-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="ID" scope="row"><a href="territories-detail.html">02184</a></th>
              <td class="smvc-table__cell" data-label="Description">Arkansas City</td>
              <td class="smvc-table__cell" data-label="Region">7901</td>
              <td class="smvc-table__cell" data-label="State">Kansas</td>
              <td class="smvc-table__cell" data-label="County">Cowley</td>
              <td class="smvc-table__cell smvc-table__options">
                <a href="territories-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="territories-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="ID" scope="row"><a href="territories-detail.html">02286</a></th>
              <td class="smvc-table__cell" data-label="Description">Lee's Summit</td>
              <td class="smvc-table__cell" data-label="Region">7901</td>
              <td class="smvc-table__cell" data-label="State">Missouri</td>
              <td class="smvc-table__cell" data-label="County">Jackson</td>
              <td class="smvc-table__cell smvc-table__options">
                <a href="territories-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="territories-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="smvc-table-mast">
          <h2 class="smvc-table-mast__title">Employees</h2>
          <span class="smvc-table-mast__amt">5 of 123</span>
          <a class="smvc-table-mast__all" href="employees.html">View all</a>
          <a class="smvc-table-mast__action fsa-btn fsa-btn--primary" href="employees-add.html" title="Add an Employee">Add</a>
        </div>
        <table class="fsa-table fsa-table--borderless fsa-table--responsive smvc-table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Job Title</th>
              <th scope="col">Hire Date</th>
              <th scope="col" colspan="2">ID</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Bell, Stringer</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Lieutenant</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1998-06-01">1998-06-01</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">56190</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Daniels, Cedris</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Deputy Commissioner</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1985-11-29">1985-11-29</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">84200</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Freamon, Lestor</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Major Case Unit Detective</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1975-12-05">1975-12-05</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">78451</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">McNulty, Jimmy</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Patrol Officer</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="1991-09-01">1991-09-01</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">11211</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
            <tr>
              <th class="smvc-table__cell" data-label="Name" scope="row"><a href="employees-detail.html">Sobotka, Francis</a></th>
              <th class="smvc-table__cell" data-label="Job Title" scope="row">Union Secretary</th>
              <th class="smvc-table__cell" data-label="Hire Date" scope="row"><time datetime="2015-01-20">2015-01-20</time></th>
              <th class="smvc-table__cell" data-label="ID" scope="row">88892</th>
              <td class="smvc-table__cell smvc-table__options">
                <a href="employees-edit.html" class="smvc-table__options-item">Edit</a>
                <a href="employees-delete.html" class="smvc-table__options-item smvc-table__options-item--destroy">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
