{% include: 'includes/html.html' %}
{% include: 'includes/head.html' @title:'Settings: Employees' %}

<body>

  {% include: 'includes/fsa-browser-upgrade.html' %}
  {% include: 'includes/skipnav.html' %}

  <header>

    {% include: 'includes/header-tophat.html' %}
    {% include: 'includes/header-header-app.html' %}

    <nav>
      {% include: 'includes/header-nav-global.html' %}
    </nav>

  </header>

  <main id="main-content" tabindex="-1">
    <div class="fsa-section">
      <div class="fsa-section__bd">
        <h1>ABC Settings</h1>
        <div class="HINT HINT--HIDDEN-BLOCK fsa-m-t--m fsa-m-b--l">
          <div class="fsa-text-size--4">
            On this page you can:
            <ol>
              <li><strong>Add</strong> an Employee</li>
              <li><strong>Edit</strong> an existing Employee.</li>
              <li>Navigate to <strong>Territories</strong></li>
            </ol>
          </div>
        </div>
        {% include: 'includes/content-tabs_employees.html' %}
        {% include: 'includes/adder.html' @TEXT:'Add' @TITLE:'Add an Employee' @BEHAVIOR:'open-modal' @TARGET:'UNIQUE-ID-emp-new' @CLASS:'HINT' %}
        {% include: 'includes/table_employees.html' %}
        {% include: 'includes/pagination_120-pages.html' %}
      </div>
    </div>
  </main>

  <footer>
    {% include: 'includes/footer.html' %}
  </footer>

  <div>
    {% include: 'includes/modal_employee-detail.html' @ID:'UNIQUE-ID-emp-detail' %}
    {% include: 'includes/modal_employee-new.html' @ID:'UNIQUE-ID-emp-new' %}
  </div>

  <div class="fsa-growl-container">
    <!-- Growl Notifications go in here -->
    {% include: 'includes/growl_employee-edit-success.html' @ID:'UNIQUE-ID-8A386E512C033F57' %}
    {% include: 'includes/growl_employee-add-success.html' @ID:'UNIQUE-ID__employee-added' %}
    {% include: 'includes/growl_employee-remove-success.html' @ID:'UNIQUE-ID__employee-removed' %}
  </div>

  <div class="fsa-whiteout" id="fsa-whiteout" aria-hidden="true"></div>
  <div class="fsa-growl-container fsa-growl-container--centered">
    <!-- Modal-based, centered Growl Notifications go in here -->
    {% include: 'includes/growl_employee-unsaved.html' @ID:'UNIQUE-ID-employee-unsaved' %}
    {% include: 'includes/growl_employee-remove-prompt.html' @ID:'UNIQUE-ID__remove-employee' %}
  </div>

  {% include: 'includes/scripts.html' %}

</body>

</html>
